html, body {
    margin: 0;
    overflow: hidden;

    font-family: 'Skullboy',sans-serif;
    color: #80542e;
}

p {
    font-size: 32px;
    margin-block-start: 15px;
    margin-block-end: 15px;
}

li {
    font-size: 32px;
}

h2 {
    font-size: 48px;
}

@font-face {
    font-family: 'Skullboy';
    src: url('../font/ChevyRay - Skullboy.ttf') format('truetype');
}

.container {
    position: relative;
}

.screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 600px;
}

.title-bg {
    position: absolute;
    z-index: -1;
}
.title-text {
    position: absolute;
}

.instructions-text {
    max-width: 90%;
}

.centered-text {
    text-align: center;
}

.hidden {
    display: none;
}


.timer {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}